//==============================================
//  ManagePost
//==============================================

.p-managePost { display: flex; }
.p-managePost__main { flex-grow: 1; }
.p-managePost__title { line-height: 23px; }
.p-managePost__post { padding: 20px 0; }
.p-managePost__post__input {
    height: 355px;
    margin-bottom: 10px;
    font-size: $font-size-s;
    resize: none;
}
.p-managePost__post__count {
    color: $other-font-color;
    font-size: $font-size-ss;
    text-align: right;
}
.p-managePost__post__btns {
    font-size: 0;

    & > li {
        display: inline-block;

        &:not(:first-child) { margin-left: 10px; }
    }
}

.p-managePost__side {
    display: flex;
    padding-left: 20px;

    .p-managePost__side__contents {
        overflow: hidden;
        width: 0;
    }

    &.is-visible {
        width: 300px;

        .p-managePost__side__contents {
            flex-grow: 1;
            padding: 0 0 20px 20px;
        }
    }
}
.p-managePost__side__icons {
    width: 36px;
    border-right: 1px solid $off-color;

    & > li {
        height: 36px;
        cursor: pointer;
    }
}
