# Created by http://www.gitignore.io

### Node ###
lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
config/

# dist
app.css
_mixin_sprite.scss
bundle.js
bundle/
sprite.png

node_modules
.DS_Store
.sass-cache
.idea
