//-------------------------------------//
//  btnWrap
//-------------------------------------//

.c-btnWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    cursor: pointer;

    &.is-bg--off { background-color: $off-color; }
}
