//==============================================
//  Table
//==============================================

.c-table {
    width: 100%;
    font-size: $font-size-s;
    line-height: 20px;

    tr {
        & > td {
            padding: 15px 8px;
            vertical-align: middle;

            &:first-child {
                padding-right: 2px;
                width: 30px;
            }
        }
    }

    & > thead > tr { border-top: 1px solid $off-color; }

    & > tbody > tr {
        border-bottom: 1px solid $off-color;

        &:first-child { border-top: 1px solid $off-color; }
        &:nth-child(odd) { background-color: #FFF; }
    }
}
.c-table__link {
    color: $txt-link-color;

    &:hover { text-decoration: underline;}
}
