//-------------------------------------//
//  Board
//-------------------------------------//

#board { padding: 38px 0 0 150px; }
.board__inner { padding: 20px;}
.board__title {
    margin-bottom: 10px;
    font-size: $font-size-ll;
}
